#rooms-container {
  width: 100%;
  min-height: 100px;
  padding: 30px;
  flex-wrap: wrap;
}

#rooms-container .room-item {
  padding: 10px 20px;
  background-color: var(--secondary-button-background);
  color: var(--secondary-font-color);
  cursor: pointer;
  margin: 0 10px;
}

#game-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#leave-room,
#add-room {
  border: 1px solid black;
  padding: 10px;
  margin: 20px 0;
}

.room-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  height: 200px;
}

.room-item__users {
  display: flex;
  justify-self: flex-start;
  font-size: 16px;
}

#game-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  min-height: 500px;
}

#game-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border: 1px solid black;
  min-height: 500px;
}

#ready-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 400px;
  height: 400px;
  text-transform: uppercase;
}

.game-wrapper {
  display: flex;
  margin-top: 50px;
  width: 100%;
}

.user-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  height: 50px;
  width: 180px;
}

.user-name {
  margin: 0;
}

.user-status {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.user-status--ready {
  background-color: green;
}

.user-status--not-ready {
  background-color: red;
}

.timer-seconds {
  font-size: 40px;
}
